<header class="masthead d-flex">
    <div class="container text-center my-auto">
        <h1 class="mb-1"><a href="/" style="text-decoration:none;">UNLIGAME</a></h1>
        <h3 class="mb-5">
          <em>Your source for Unlimited Gaming</em>
        </h3>
        <a class="btn btn-primary btn-xl js-scroll-trigger" href="/psvita">PSVita</a>
        <a class="btn btn-primary btn-xl js-scroll-trigger" href="/psp">PSP</a>
        <a class="btn btn-primary btn-xl js-scroll-trigger" href="https://www.carousell.sg/u/unligame/" target="_blank">Store</a>
    </div>
    <div class="overlay"></div>
</header>
