<a class="menu-toggle rounded" href="{{ site.url }}">
      <i class="fas fa-bars"></i>
    </a>
<nav id="sidebar-wrapper">
    <ul class="sidebar-nav">
        <li class="sidebar-brand">
            <a class="js-scroll-trigger" href="#page-top">Unligame</a>
        </li>
        <li class="sidebar-nav-item">
            <a class="js-scroll-trigger" href="/">Home</a>
        </li>
        <li class="sidebar-nav-item">
            <a class="js-scroll-trigger" href="/psvita">PSVita</a>
        </li>
        <li class="sidebar-nav-item">
            <a class="js-scroll-trigger" href="/psp">PSP</a>
        </li>
        <li class="sidebar-nav-item">
            <a class="js-scroll-trigger" href="https://www.carousell.sg/u/unligame/" target="_blank">Store</a>
        </li>
    </ul>
</nav>
